$img-dir: "../img/";
$fonts-dir: "../fonts/";

$color-black: #000;
$color-white: invert( $color-black );

$bp-up-xl: 1200px;
$bp-dn-xl: 1199px;
$bp-up-lg: 992px;
$bp-dn-lg: 991px;
$bp-up-md: 768px;
$bp-dn-md: 767px;
$bp-up-sm: 576px;
$bp-dn-sm: 575px;
